<div class="container-wrapper">
    <div class="container">
        <div class="row">
            <h2>Manage Customer</h2>
        </div>
        <div class="row">
            <button routerLink="/addNewCustomer">Add New Customer</button>
        </div>
        <div class="row">
            <button routerLink="/searchCustomer">Search Customer</button>
        </div>
        <div class="row">
            <button routerLink="/updateCustomer">Update Customer</button>
        </div>
        <div class="row">
            <button routerLink="/deleteCustomer">Delete Customer</button>
        </div>
        <div class="row">
            <button routerLink="/getAllCustomer">Show All Customer</button>
        </div>
    </div>

    
    <div class="container">
        <div class="row">
            <h2>Manage Equipments</h2>
        </div>
        <div class="row">
            <button >Add New Items</button>
        </div>
        <div class="row">
            <button >Search Items</button>
        </div>
        <div class="row">
            <button >Update Items</button>
        </div>
        <div class="row">
            <button >Delete Items</button>
        </div>
        <div class="row">
            <button>Show All Items</button>
        </div>
    </div>
</div>
