<div class="container">
    <div class="row">
       <h2>Manage Customer</h2>
    </div>
    <div class="row">
        <button routerLink="/addNewCustomer">Add New Customer</button>
    </div>

    <div class="row">
        <button routerLink="/searchCustomer">Search Customer</button>
    </div>

    <div class="row">
        <button routerLink="/updateCustomer">Update Customer</button>
    </div>

    <div class="row">
        <button routerLink="/deleteCustomer">Delete Customer</button>
    </div>

    
</div>