<div class="container-wrapper">
    <!-- Manage Customer Section -->
    <div class="container">
        <div class="row">
            <h2>Manage Customer</h2>
        </div>
        <div class="row">
            <button routerLink="/addNewCustomer">Add New Customer</button>
        </div>
        <div class="row">
            <button routerLink="/searchCustomer">Search Customer</button>
        </div>
        <div class="row">
            <button routerLink="/updateCustomer">Update Customer</button>
        </div>
        <div class="row">
            <button routerLink="/deleteCustomer">Delete Customer</button>
        </div>
        <div class="row">
            <button routerLink="/getAllCustomer">Show All Customer</button>
        </div>
    </div>

    <!-- Manage Equipments Section -->
    <div class="container">
        <div class="row">
            <h2>Manage Equipments</h2>
        </div>
        <div class="row">
            <button routerLink="/addNewItems">Add New Items</button>
        </div>
        <div class="row">
            <button routerLink="/searchItems">Search Items</button>
        </div>
        <div class="row">
            <button routerLink="/updateItem">Update Items</button>
        </div>
        <div class="row">
            <button routerLink="/deleteItems">Delete Items</button>
        </div>
        <div class="row">
            <button routerLink="/showAllItems">Show All Items</button>
        </div>
    </div>

    <!-- Manage Rental Section -->
    <div class="container">
        <div class="row">
            <h2>Manage Rental</h2>
        </div>
        <div class="row">
            <button routerLink="/addNewRental">Add New Rental</button>
        </div>
        <div class="row">
            <button routerLink="/searchRental">Search Rental</button>
        </div>
        <div class="row">
            <button routerLink="/updateRental">Update Rental</button>
        </div>
        <div class="row">
            <button routerLink="/deleteRental">Delete Rental</button>
        </div>
        <div class="row">
            <button routerLink="/showAllRentals">Show All Rentals</button>
        </div>
    </div>
</div>
